*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Varta";
    font-weight: 300;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;

    @include media() {
        padding: 0 32px;
    }
}

