@font-face {
    font-family: "Merriweather";
    src: url('../css/main.css') format('woff2'),
        url('../css/main.cssMerriweather-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-Bold.woff2') format('woff2'),
        url('../css/main.cssMerriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-Black.woff2') format('woff2'),
        url('../css/main.cssMerriweather-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-BoldItalic.woff2') format('woff2'),
        url('../css/main.cssMerriweather-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-BlackItalic.woff2') format('woff2'),
        url('../css/main.cssMerriweather-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-Light.woff2') format('woff2'),
        url('../css/main.cssMerriweather-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-LightItalic.woff2') format('woff2'),
        url('../css/main.cssMerriweather-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('../css/main.cssMerriweather-Regular.woff2') format('woff2'),
        url('../css/main.cssMerriweather-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Varta";
    src: url('../css/') format('woff2'),
        url('../css/Varta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Varta";
    src: url('../css/Varta-Bold.woff2') format('woff2'),
        url('../css/Varta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Varta";
    src: url('../css/Varta-Light.woff2') format('woff2'),
        url('../css/Varta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Varta";
    src: url('../css/Varta-SemiBold.woff2') format('woff2'),
        url('../css/Varta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Varta";
    src: url('../css/Varta-Regular.woff2') format('woff2'),
        url('../css/Varta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


